{
    "name": "base16-{{ scheme-name }}",
    // originator: {{ scheme-author }} - {{ scheme-slug }}
    "defaults": {
        "text_color":"{{ base05-hex }}",
        "background":"{{ base00-hex }}",
        "activeline_background":"{{ base02-hex }}",
        "matchingbracket_color":"{{ base0C-hex }}"
    },
    "gutters": {
        "background":"{{ base01-hex }}",
        "text_color":"{{ base03-hex }}",
        "border_color":"{{ base01-hex }}"
    },
    "tokens": {
        "comment_color":"{{ base03-hex }}",
        "number_color":"{{ base09-hex }}",
        "property_color":"{{ base08-hex }}",
        "attribute_color":"{{ base09-hex }}",
        "keyword_color":"{{ base0E-hex }}",
        "string_color":"{{ base0B-hex }}",
        "variable_color":"{{ base08-hex }}",
        "def_color":"{{ base0D-hex }}",
        "bracket_color":"{{ base05-hex }}",
        "tag_color":"{{ base08-hex }}",
        "header_color":"{{ base0A-hex }}",
        "link_color":"{{ base09-hex }}"
    }
}
